{% from 'components/community-cards.html' import community_cards %}

{% extends 'layout.html' %}

{% block title %}
  {{ this.title }}
{% endblock %}

{% block body %}
  {{ community_cards() }}
  <div>
    {% for member in this.pagination.items %}
      <div>
        <img src="{{ member.avatar }}">
        <p>{{ member.name }}</p>
        <div>
          <p>
            Since {{ member.active_since.strftime('%Y') }} — {{ member.location }}
          </p>
          <p>{{ member.description }}</p>
        </div>
        <a href="https://github.com/{{ member.github_nickname }}">{{ member.github_nickname }}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
