{% macro community_cards() %}
  <div>
    {% for card in bag('community_cards') %}
      {% set module = 'components/icons/' + card + '.html' %}
      {% from module import icon %}
      <div>
        <h2>
          <a href="{{ bag('community_cards', card, 'url') }}">
            {{ icon(card) }}
          </a>
          {{ bag('community_cards', card, 'title') }}
        </h2>
        <p>
          {{ bag('community_cards', card, 'description') }}
        </p>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
