{% from 'components/icons/hamburger.html' import icon as menu_icon %}
{% from 'components/icons/close.html' import icon as close_icon %}
{% from 'components/link.html' import link %}

{% macro navbar() %}
  <nav data-controller="navbar" class="flex justify-between flex-wrap p-6">
    <div>
      {% call link('/') %}
        dry-python
      {% endcall %}
    </div>
    <div class="block md:hidden">
      <button data-action="navbar#toggle" class="flex items-center border rounded px-3 py-2">
        {{ menu_icon('Menu', classes='fill-current h-3 w-3', data_target='navbar.menuButton') }}
        {{ close_icon('Close', classes='hidden fill-current h-3 w-3', data_target='navbar.closeButton') }}
      </button>
    </div>
    <div data-target="navbar.menuItems" class="hidden w-full block flex-grow md:flex">
      {% for path, label in bag('navbar').items() %}
        {% call link(path|url, classes='block md:inline-block') %}
          {{ label }}
        {% endcall %}
      {% endfor %}
      {% call link('https://github.com/dry-python', classes='block md:inline-block') %}
        GitHub
      {% endcall %}
      {% call link('https://drylabs.io', classes='block md:inline-block') %}
        Drylabs
      {% endcall %}
    </div>
  </nav>
{% endmacro %}
